<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #6f5499; color:whitesmoke;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('showCatalog')}}" style="color:white; font-size:60px;">CATALOG</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                <li>
                    <a href="#" style="color: white;">Login as {{username}}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{url_for('showLogin')}}" style="color: white;">Log in</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{url_for('gdisconnect')}}" style="color: white;">Sign out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>